.rp-content {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0 1em;
}
.rp-content .rp-month {
  display: inline-block;
  margin: 0.5em 1em;
}
.rp-content .rp-month .rp-month-name {
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 0.3em 0;
}
.rp-content .rp-day {
  padding: 0.1em;
  text-align: center;
  cursor: pointer;
}
.rp-content .rp-day.rp-interval-start,
.rp-content .rp-day.rp-interval-end,
.rp-content .rp-day.rp-interval-oneday {
  background-color: #357ebd;
  color: #ffffff;
}
.rp-content .rp-day.rp-interval-start {
  border-radius: 4px 0 0 4px;
}
.rp-content .rp-day.rp-interval-end {
  border-radius: 0 4px 4px 0;
}
.rp-content .rp-day.rp-interval-oneday {
  border-radius: 4px 4px 4px 4px;
}
.rp-content .rp-day.rp-selected-normal {
  background-color: #ebf4f8;
}
.clickable {
  cursor: pointer;
}
