.rp-content {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 1em;
    background-color: #ffffff;
    &.rp-popup {
        position: absolute;
        top: 3em;
        left: 0;
    }

    .rp-month {
        display: inline-block;
        margin: 0.5em 1em;

        .rp-month-name {
            font-weight: bold;
            display: block;
            text-align: center;
            padding: 0.3em 0;
        }
    }

    .rp-day {
        padding: 0.1em;
        text-align: center;
        cursor: pointer;

        &.rp-interval-start, &.rp-interval-end, &.rp-interval-oneday  {
            background-color: #357ebd;
            color: #ffffff;
        }
        &.rp-compare-start, &.rp-compare-end, &.rp-compare-oneday  {
            background-color: #54bd35;
            color: #ffffff;
        }
        &.rp-interval-start, &.rp-compare-start {
            border-radius: 4px 0 0 4px;
        }
        &.rp-interval-end, &.rp-compare-end {
            border-radius: 0 4px 4px 0;
        }
        &.rp-interval-oneday, &.rp-compare-oneday {
            border-radius: 4px 4px 4px 4px;
        }
        &.rp-selected-normal {
            background-color: #cdf0ff; //#ebf4f8
        }
        &.rp-selected-compare {
            background-color: #b9ffc0; //#ecf9ed
        }
    }
}

.rp-clickable {
    cursor: pointer;
}

.rp-form {
    float: right;
    padding: 0.5em;
    div {
        padding: 0.25em;
    }
    .rp-applyBtn {
        font-weight: bold;
    }
    .rp-date-input {
        display: inline-block;
    }
    .rp-input-mini {
        width: 9em;
    }
    .rp-btn {
        float: left;
    }
}

.rangepicker {
    border: 1px solid #e8e8e8;
    display: inline-block;
    padding: 0.5em 2em 0.5em 0.5em;
    position: relative;

    &:before {
        content: "▾";
        position: absolute;
        right: 0.7em;
        top: 1em;
    }

    .rangepicker-interval {
        font-weight: bold;
    }
    .rangepicker-compare-interval {

    }
}
